<footer class="footer">
    <div class="container has-text-white">
        <div class="columns is-vcentered">
            <div class="column is-half has-text-left">
                <ul>
                    <li><a href="{% url 'legal' %}#privacy" class="has-text-white">Privacy Policy</a></li>
                    <li><a href="{% url 'legal' %}#legal" class="has-text-white">Legal Notice</a></li>
                    <li><a href="{% url 'legal' %}#cookie" class="has-text-white">Cookie Policy</a></li>
                </ul>
            </div>
            <div class="column  has-text-right">
              info@pti-schools.com
            </div>
          </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="has-text-centered has-text-white">
                    PTI <i class="fa fa-copyright"></i> 2022
                </p>
            </div>
        </div>
    </div>
</footer>
