{% extends "base.html" %}
{% load static i18n %}

{% block body %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="has-text-left is-vcentered p-5 mb-5">
                <h2 class="title is-2 has-text-primary mr-3 is-inline">1</h2>
                <h2 class="title is-3 pt-2 mr-3 is-inline">The definitive curriculum management</h2>
                <h2 class="title is-3 has-text-primary pt-2 is-inline">Planning Tool for Innovative Schools</h2>
            </div>
            <div class="columns is-12 is-vcentered has-background-primary">
                <div class="column p-0">
                    <figure class="image">
                        <img src="{% static 'images/landing-image-1.jpeg' %}">
                    </figure>
                </div>
                <div class="column is-half has-text-left has-text-white p-5 content">
                    <div class="columns is-12">
                        <div class="column is-1">
                            <span class="icon">
                                <i class="fa-solid fa-check"></i>
                            </span>
                        </div>
                        <div class="column is-8">
                            <h5 class="subtitle is-5 has-text-white">Transforms the traditional curriculum into project-based-learning and activities</h5>
                        </div>
                    </div>
                    <div class="columns is-12">
                        <div class="column is-1">
                            <span class="icon">
                                <i class="fa-solid fa-check"></i>
                            </span>
                        </div>
                        <div class="column is-8">
                            <h5 class="subtitle is-5 has-text-white">Corrects curricular gaps</h5>
                        </div>
                    </div>
                    <div class="columns is-12">
                        <div class="column is-1">
                            <span class="icon">
                                <i class="fa-solid fa-check"></i>
                            </span>
                        </div>
                        <div class="column is-8">
                            <h5 class="subtitle is-5 has-text-white">Manages resources efficiently</h5>
                        </div>
                    </div>
                    <div class="columns is-12">
                        <div class="column is-offset-1">
                            <ul>
                            <li><h5 class="subtitle is-5 has-text-white">Calendars of teachers, groups and students</h5></li>
                            <li><h5 class="subtitle is-5 has-text-white">Management of school spaces</h5></li>
                            <li><h5 class="subtitle is-5 has-text-white">Transdisciplinary projects</h5></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="has-text-left is-vcentered p-5 mb-5">
                <h2 class="title is-2 has-text-primary mr-3 is-inline">2</h2>
                <h2 class="title is-3 pt-2 mr-3 is-inline">Benefits for the students</h2>
            </div>
            <div class="columns is-12 is-vcentered has-background-primary">
                <div class="column is-half has-text-left has-text-white p-5 content">
                    <div class="columns is-12">
                        <div class="column is-1">
                            <span class="icon">
                                <i class="fa-solid fa-check"></i>
                            </span>
                        </div>
                        <div class="column is-8">
                            <h5 class="subtitle is-5 has-text-white">Evaluates the progress of students in a personalized way</h5>
                        </div>
                    </div>
                    <div class="columns is-12">
                        <div class="column is-1">
                            <span class="icon">
                                <i class="fa-solid fa-check"></i>
                            </span>
                        </div>
                        <div class="column is-8">
                            <h5 class="subtitle is-5 has-text-white">Evaluates soft and hard skills in schools by integrating artificial intelligence</h5>
                        </div>
                    </div>
                    <div class="columns is-12">
                        <div class="column is-1">
                            <span class="icon">
                                <i class="fa-solid fa-check"></i>
                            </span>
                        </div>
                        <div class="column is-8">
                            <h5 class="subtitle is-5 has-text-white">Helps to personalize the needs and motivations of each group and student</h5>
                        </div>
                    </div>
                </div>
                <div class="column p-0">
                    <figure class="image">
                        <img src="{% static 'images/landing-image-2.jpeg' %}">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="has-text-left is-vcentered p-5 mb-5">
                <h2 class="title is-2 has-text-primary mr-3 is-inline">3</h2>
                <h2 class="title is-3 pt-2 mr-3 is-inline">Communication with parents</h2>
            </div>
            <div class="columns is-12 is-vcentered has-background-primary">
                <div class="column p-0">
                    <figure class="image">
                        <img src="{% static 'images/landing-image-3.jpeg' %}">
                    </figure>
                </div>
                <div class="column is-half has-text-left has-text-white p-5 content">
                    <div class="columns is-12">
                        <div class="column is-1 is-offset-1">
                            <span class="icon">
                                <i class="fa-solid fa-check"></i>
                            </span>
                        </div>
                        <div class="column is-8">
                            <h5 class="subtitle is-5 has-text-white">Direct communication tool with families through an individualized App</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}