{% extends "base.html" %}
{% load static i18n %}

{% block body %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-primary" id="privacy">PRIVACY POLICY</h1>
            <div class="block">
                <p class="has-text-justified">AIKREATE, S.L. complies with current regulations on data protection and
                ensures the correct use and processing of personal data. Each personal
                data collection form informs you of the purpose of processing the
                requested data. At any time, the user may exercise their rights of access,
                rectification, deletion, opposition, portability and limitation by
                communicating to the following email address: info@pti-schools.com
                </p>
            </div>
            <div class="block">
                <h3 class="subtitle is-3">Responsible for treatment</h3>
                <p class="has-text-justified">The person responsible for processing the data of the interested party is
                AIKREATE, S.L, with CIF number B09779406. The contact details are as
                follows:</p>
                <br>
                <ul>
                    <li>Postal address: Carrer Balmes 23, 2, 2, 08007 Barcelona</li>
                    <li>Phone: 93 680 10 31</li>
                    <li>Email: info@pti-schools.com</li>
                </ul>
                <br>
                <p class="has-text-justified">The Interested Party is hereby informed that AIKREATE, S.L. has appointed
                a Data Protection Officer (DPO) before whom it may disclose any matter
                relating to the processing of its personal data. The interested party may
                contact the Data Protection Officer through the following contact details:</p>
                <br>
                <ul>
                    <li>Postal address: Carrer Balmes 23, 2, 2, 08007 Barcelona</li>
                    <li>Phone: 93 680 10 31</li>
                    <li>Email: delegado@pti-schools.com</li>
                </ul>
            </div>
            <div class="block">
                <h3 class="subtitle is-3">Responsibility in relation to the contents</h3>
                <h4 class="subtitle is-4">For what purpose do we process personal data?</h4>
                <p class="has-text-justified">The personal data of the interested party are only processed for the
                    development of activity. Any use of personal data other than those
                    indicated here, will require the prior, express and specific consent of their
                    owners or legal representatives. In accordance with current regulations,
                    the personal data that we may request for the fulfilment of the tasks
                    indicated above are those that refer to the origin and family and social
                    environment, personal characteristics or conditions, as well as those other
                    circumstances whose knowledge is necessary.
                    The personal data of the relatives will be treated exclusively for
                    administrative purposes previously mentioned.</p>
                <br>
                <h4 class="subtitle is-4">How long will we keep the data?</h4>
                <p class="has-text-justified">The personal data provided by the interested party will be kept for as long
                    as the requested services are in force, and once they have ended, they will
                    be blocked until the expiry of the applicable limitation periods in the
                    regional regulations.</p>
                <br>
                <h4 class="subtitle is-4">What legitimizes us to process the data?</h4>
                <p class="has-text-justified">The legal basis for the processing of the personal data of the interested
                    party is the execution of the contracted services. In this sense, the
                    interested party is obliged to provide the data that are necessary for its
                    execution. If you do not provide us with this information, it will not be
                    possible to obtain the requested services.
                    In cases where consent is required for the processing of data, this will be
                    granted by the student himself in the event that he is over 13 years. If he
                    is a minor of this age, the consent will be given by the holder of parental
                    authority or guardianship of the minor.</p>
                <br>
                <h4 class="subtitle is-4">What are the rights of the interested parties in relation to the data they
                    provide us?</h4>
                <p class="has-text-justified">Anyone has the right to obtain confirmation as to whether we are
                    processing personal data concerning you. Interested parties have the right
                    to access their personal data, as well as to request the rectification of
                    inaccurate data or, where appropriate, to request its deletion when,
                    among other reasons, the data is no longer available. necessary for the
                    purposes for which they were collected. 
                    The aforementioned rights of access, rectification, deletion, opposition,
                    portability and limitation, as well as not being subject to automated
                    individual decisions, may be exercised through the following email
                    address: info@pti-schools.com
                    Finally, the interested party will have the right to file a complaint with the
                    Spanish Data Protection Agency.</p>
                <br>
                <h4 class="subtitle is-4">How do we get the data?</h4>
                <p class="has-text-justified">AIKREATE, S.L. will process the following types of personal data in the
                    exercise of its activity:</p>
                <ul>
                    <li>Contact form</li>
                    <li>Telephone</li>
                    <li>Projects</li>
                    <li>Web</li>
                    <li>E-mail</li>
                    <li>Visits</li>
                </ul>
            </div>
            <div class="block">
                <h3 class="subtitle is-3">Purposes, legitimacy and conservation of the processing of data sent through:</h3>
                <h4 class="subtitle is-4">Contact form</h4>
                <p class="has-text-justified">
                    Purpose: Provide a means for you to contact us and answer your requests
                    for information, as well as send you communications about our products,
                    services and activities, including by electronic means (Email, SMS,
                    WhatsApp), if you check the box acceptance.
                    Legitimation: The user's consent when requesting information through
                    our contact form and when checking the acceptance box for sending
                    information.
                    Conservation: Once your request is through our form or answered by
                    email, if you have not generated a new treatment, and if you have agreed
                    to receive commercial mailings, until you request the cancellation of them.</p>
                <br>
                <h4 class="subtitle is-4">Sending of emails</h4>
                <p class="has-text-justified">
                Purpose: Answer your requests for information, respond to your requests
                and answer your queries or doubts.
                Legitimation: The user's consent when requesting information through the
                email address.
                Conservation: Once your request is answered by email, if you have not
                generated a new treatment.
                </p>
                <br>
                <h4 class="subtitle is-4">Subscription to our newsletter</h4>
                <p class="has-text-justified">
                    Purpose: Sending our commercial newsletter and informative and
                    advertising communications about our products or services that are of
                    interest to you, including by electronic means (Email, SMS, WhatsApp).
                    Legitimation: The user's consent when subscribing to our commercial
                    mailings and/or newsletters.
                    Conservation: Until the interested party revokes the consent and requests
                    the cancellation of the service.
                    Obligation to provide us with your personal data and consequences of not
                    doing so.
                    The provision of personal data requires a minimum age of 14 years, or
                    where appropriate, have sufficient legal capacity to contract.
                    The personal data requested is necessary to manage your requests and/or
                    provide you with the services you may contract, so if you do not provide

                    them to us, we will not be able to serve you correctly or provide you with
                    the service you have requested.
                </p>
                <br>
                <h4 class="subtitle is-4">Recipients of your data</h4>
                <p class="has-text-justified">
                Your data is confidential and will not be transferred to third parties, unless
                there is a legal obligation.</p>
            </div>
            <h1 class="title is-1 has-text-primary" id="legal">LEGAL NOTICE</h1>
            <div class="block">
                <p class="has-text-justified">Use of this website, www.pti-schools.com, constitutes acceptance of these
                    terms. If you do not agree with them, please do not use this website.
                    This Legal Notice regulates the use of the website www.pti-schools.com
                    being its owner AIKREATE, S.L. with CIF B09779406.
                </p>
            </div>
            <h1 class="title is-1 has-text-primary" id="cookie">COOKIE POLICY</h1>
            <div class="block">
                <p class="has-text-justified">This website only uses technical, personalization and analysis cookies, its
                    own and those of third parties (Google Analytics), which in no case process
                    personal data or capture browsing habits for advertising purposes.
                    Therefore, when accessing our website, in compliance with article 22 of
                    the Information Society Services Law, when processing analysis cookies,
                    we have requested your consent for their use and provided information
                    about them, which in all In this case, they will be installed after a
                    reasonable period of time so that the user has time to decide whether to
                    give their consent or not.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}